<div class="container mt-3">
    <div class="card border-primary mb-3">
        <div class="card-header text-white bg-primary">Edit canoe</div>
        <div class="card-body">
            <%= form_for @canoe, url: update_canoe_path(@canoe.id), method: :put do |form| %>
                <div class="mb-3">
                    <%= form.label :name, class: 'form-label' %>
                    <%= form.text_field :name, class: 'form-control' %>
                </div>
                <div class="mb-3">
                    <%= form.label :max_crew, class: 'form-label' %>
                    <%= form.number_field :max_crew, class: 'form-control' %>
                </div>
                <div class="d-flex justify-content-between align-items- gap-2">
                    <div>
                        <%= form.submit "Save", class: 'btn btn-success' %>
                        <%= link_to "Cancel", :back, class: 'btn btn-warning link-light' %>
                    </div>
                    <div>
                        <%# <%= buttont_to "Delete", @canoe, method: :delete, class: "link-light" %> %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>