
<div class="container">
    <h2>Canoes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Max. Crew</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        <% @canoes.each do |canoe| %>
            <tr>
                <td><%= canoe.name %></td>
                <td><%= canoe.max_crew %></td>
                <td>
                    <%= link_to "Crew", crew_index_path(canoe), class: "btn btn-primary btn-sm" %>
                </td>
                <td>
                    <%= link_to "Competitions", competition_index_path(canoe.id), class: "btn btn-primary btn-sm" %>
                </td>
                <td>
                    <%= link_to "Edit", edit_canoe_path(canoe), class: "btn btn-warning btn-sm link-light" %>
                </td>
                <td>
                    <%= link_to "Delete", '/canoes/del', class: "btn btn-danger btn-sm" %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%= link_to "Add new canoe", '/canoes/new', class: "btn btn-secondary link-light" %>
</div>
